.cv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  width: 500px;
  height: 700px;
  box-shadow: 0 0 5px 5px lightgrey;
}

.cv p {
  margin: 0;
  font-size: 10px;
}
