$primaryButton: #263547;

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: $primaryButton;
  width: 500px;
  padding: 38px;
  height: 20%;

  @media (max-width: 481px) {
    width: 100%;
  }
}

.header h1 {
  margin: 0;
  font-size: 35px;
}

.header p {
  margin: 5px;
  font-size: 13px;
}

.body {
  display: flex;
  width: 100%;
  height: 80%;
  color: $primaryButton;
}

.sidebar {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 40%;
  background-color: #eeb14f;
}

.sidebar h4 {
  margin-bottom: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  background-color: white;
}

.content h3 {
  margin: 0;
  margin-bottom: 5px;
}

.title {
  border-bottom: 1px solid lightgrey;
}

.clearCv {
  position: relative;
  width: 75px;
  top: 340px;
  left: 197px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: $primaryButton;
  color: white;
  padding-top: 2px;

  @media (max-width: 481px) {
    top: 312px;
    left: 122px;
  }
}

.content button:hover {
  opacity: 50%;
  transition: 0.2s;
}

.clearAboutMe {
  position: relative;
  top: -28px;
  left: 147px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: $primaryButton;
  color: white;
  font-size: 10px;
  padding: 0px 3px;

  @media (max-width: 481px) {
    left: 97px;
  }
}

.sidebar button:hover {
  opacity: 50%;
  transition: 0.2s;
}

.flex {
  display: flex;
}

.clearContact {
  position: relative;
  top: 26px;
  left: 74px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: $primaryButton;
  color: white;
  font-size: 10px;
  padding: 0px 3px;

  @media (max-width: 481px) {
    left: 24px;
  }
}

.skill {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skill button {
  border-radius: 3px;
  border: 1px solid black;
  background-color: $primaryButton;
  color: white;
  font-size: 10px;
  padding: 0px 3px;
  margin-bottom: 2px;
}

.skill button:hover {
  opacity: 50%;
  transition: 0.2s;
}

.contact p {
  margin-bottom: 2px;
  @media (max-width: 481px) {
    width: 59%;
    word-wrap: break-word;
  }
}

.about {
  margin-bottom: -18px;
}
