$primaryButton: #263547;

.edu {
  display: flex;
  flex-direction: column;
}

.edu h5 {
  margin: 2px 0;
}

.button {
  position: relative;
  top: 6px;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: $primaryButton;
  color: white;
  font-size: 10px;
  padding: 0px 3px;
}

.item {
  display: flex;
  justify-content: space-between;
}
